<div class="card-block">
  <div class="container-timeline-wrapper" >
    <div class="container-timeline" >
      <!--file-->
      <div class="col-md-4">
        <div class="streaming-news-timeline" slimScroll [options]="options">
          <div class="list-group list-new"  >
            <div *ngFor="let data of itemsDay1">
              <span class="list-group-item">
                <a>
                  <strong [innerHTML]="data.title"></strong>
                </a>
                <p>
                  <small>
                      <span>{{data.media_displayName}}</span>
                 </small>
                 </p>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="streaming-news-timeline" slimScroll [options]="options">
          <div class="list-group list-new" >
            <div *ngFor="let data of itemsDay2">
              <span class="list-group-item">
                <a>
                  <strong [innerHTML]="data.title"></strong>
                </a>
                <p>
                  <small>
                     <span>{{data.media_displayName}}</span>
                   </small>
                 </p>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="streaming-news-timeline" slimScroll [options]="options">
          <div class="list-group list-new" >
            <div *ngFor="let data of itemsDay3">
              <span class="list-group-item">
                <a>
                  <strong [innerHTML]="data.title"></strong>
                </a>
                <p>
                  <small>
                      <span>{{data.media_displayName}}</span>
                  </small>
              </p>
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="container-timeline-page">
      <div class="row-timeline-page">
        <div class="cell-timeline-page text-primary col-md-4" *ngFor="let date of items; let ind = index">{{date.text}}</div>
      </div>
    </div>
    <div class="pull-left left-dir">
      <span class="btn btn-sm btn-default btn-timeday" id="prev-timeday" (click)="prevDay($event)">
            <img height="27%" width="25%" style="float: left" src = 'assets/img/left.png' > 
        </span>
    </div>
    <div class="pull-right right-dir">
      <span class="btn btn-sm btn-default btn-timeday" id="next-timeday" (click)="nextDay($event)">
            <img height="27%" width="25%" style="float: right" src = 'assets/img/right.png' > 
      </span>
    </div>
  </div>
</div>